.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 148px auto;
    width: 80%;
}

.home-page img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}

.home-page h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.home-page button {
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 16px 62px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}