.topo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0;
}

.topo img {
    width: 52px;
    height: 60px;
    margin-right: 20px;
}

.topo h2 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 46px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}

.icones {
    font-size: 26px;
    display: flex;
}

.mensagem-final {
    width: 60%;
    margin: 15px 0;
}

.mensagem-final>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.mensagem-final h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.mensagem-final img {
    width: 23px;
    height: 23px;
    margin-right: 14px;
}

.mensagem-final p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}

