* {
    box-sizing: border-box;
}

body {
    background-color: #5990ee;
    font-family: 'Recursive', sans-serif;
}

.errou {
    color: #FF3030;
}

.quase {
    color: #FF922E;
}

.acertou {
    color: #2FBE34;
}

.escondido {
    display: none;
}

.visivel {
    display: initial;
}